/* Base styles */
.header {
  display: grid;
  grid-template-columns: 25% 75%;
  background-color: #EEEEEE;
  padding: 10px 20px;
}

.logo img {
  max-width: 100px;
  max-height: 100px;
}

.nav {
  display: flex;
  justify-content: center;
}

.menu-items {
  display: flex;
  align-items: center;
}

.menu-items > .ant-menu-item {
  margin: 0 10px;
  background-color: #EEEEEE;
}

.menu-items .ant-menu-item-selected {
  background-color: #FF597B;
}

/* Responsive styles */
@media only screen and (max-width: 767px) {
  .header {
      grid-template-columns: 100%; /* Switch to a single column layout on smaller screens */
  }

  .nav {
      justify-content: flex-start; /* Align the navigation items to the left on smaller screens */
  }

  .menu-items {
      flex-direction: column; /* Stack menu items vertically on smaller screens */
      align-items: flex-start; /* Align menu items to the left on smaller screens */
  }

  .menu-items > .ant-menu-item {
      margin: 10px 0; /* Adjust margin for stacked menu items */
  }
}


