.body {
    margin: 0;
    padding: 0;
    background-color: #EEEE;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .image {
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  
  .outerbox {
    background-color: #EEEEEE;
    width: 50%;
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #signin {
    margin-top: 20px;
    color: #2C2738;
  }
  
  h1 {
    font-family: 'Inter', sans-serif;
  }
  
  p {
    font-family: sans-serif;
  }
  
  .register-form {
    max-width: 300px;
    margin: 0 auto;
  }
  
  .login-form-button {
    background-color: #FF597B;
    width: 100%;
  }
  
  #button:hover {
    background-color: #fe849c;
  }